
:root {
    --main-color: #f10707;
}

::selection {
    color: var(--main-color);
    background: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.game {
    background-color: #eee;
    min-height: 100vh;
}

.name {
    /* background-color: var(--main-color); */
    background-image: linear-gradient(to right, var(--main-color), #5f1212, var(--main-color) );
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.container {
    margin: auto;
    max-width: 900px;
}

.message {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.message span {
    font-weight: bold;
    color: #18b42d;
}
.message span::before {
    content: "[ ";
}
.message span::after {
    content: " ]";
}

.start, 
.again {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--main-color), #101113 );
    color: white;
    padding: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 3px solid white;
    border-radius: 6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.start:hover, 
.again:hover {
    box-shadow: 0 5px 5px #c40e0e ;
}

.the-word {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--main-color);
    user-select: none;
}

.input {
    margin: 15px 0;
    width: 100%;
    padding: 20px;
    display: block;
    border: 3px solid var(--main-color);
    font-size: 20px;
    text-align: center;
    outline: none;
    caret-color: var(--main-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.input:focus {
    border-color: #9c1717;
}
.input:hover {
    background-color: #eef6fc;
}

.upcomming-words {
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upcomming-words div {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    margin: 4px;
    padding: 4px 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    opacity: 0.8;
}

.control {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;

}

.control span {
    color: #e21b1b;
    font-weight: bold;
}

.finish {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.finish .good {
    color: var(--main-color);
}

.finish .bad {
    color: red;
}

.again {
    display: none;
}